<br>

<button pButton  icon="pi pi-plus" class="ui-button-success" (click)="clickAdd()"
        style="float: right"></button>

<br>
<br>

<p-table [value]="competences">
  <ng-template pTemplate="header">
    <tr>
      <th>Compétence</th>
      <th>Niveau</th>

      <th width="15%">Opérations</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-spec>
    <tr>


      <td>{{spec.libelle}}</td>
      <td>
        <p-slider [(ngModel)]="spec.niveau" disabled="true"></p-slider>
      </td>

      <td width="15%">
        <button pButton class="ui-button-danger" icon="pi pi-trash" pTooltip="Supprimer"
                (click)="supprimer(spec.id)" style="margin-right: 10px"></button>
        <button pButton class="ui-button-warning" icon="pi pi-pencil" pTooltip="Editer"
                (click)="clickEdit(spec)"></button>


      </td>

    </tr>
  </ng-template>
</p-table>
<p-dialog header="Compétences" [(visible)]="display" [modal]="true" [responsive]="true"
          [style]="{width: '800px'}" [minY]="70"
          [baseZIndex]="10000">
  <form #form="ngForm">





    <div class="form-group row">
      <label class="col-2">Compétence</label>
      <div class="col-10 ">
        <input class="form-control form-control-lg" type="text" required
               [(ngModel)]="competence.libelle" name="nomDip" #nomDip="ngModel">
      </div>



    </div>


    <div class="form-group row">
      <label class="col-2">Niveau</label>
      <div class="col-10 ">
       <p-slider name="niveau" [(ngModel)]="competence.niveau"></p-slider>
      </div>



    </div>


    <p-footer>
      <button *ngIf="!visible" type="button" pButton icon="pi pi-check" (click)="ajouter()" label="Ajouter"
              [disabled]="form.invalid"  ></button>
      <button *ngIf="visible" type="button" pButton icon="pi pi-check" (click)="modifier()" label="Modifier"
              [disabled]="form.invalid"        ></button>
      <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Annuler"
              class="ui-button-secondary"></button>
    </p-footer>
  </form>
</p-dialog>
